@import "variables";

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.hello {
  animation-duration: 1s;
  animation-name: fadeInLeft;
  text-align: left;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
