@import "variables";
@import "animations";

body {
  font-family: sans-serif;
  text-align: center;
}

.blue-theme {
  color: whitesmoke;
  background-color: $blue;
  .accent {
    color: $yellow;
  }
}
