@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import "variables";
@import "animations";

body {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

h1 {
  font-size: $font-size-big;
}

.blue-theme {
  color: whitesmoke;
  background-color: $blue;
  .accent {
    color: $yellow;
  }
}
