@import "colors";
@import "variables";
@import "animations";

body {
  font-family: sans-serif;
  text-align: left;
  background-color: $blue;
}

h1 {
  font-size: $font-size-big;
}

a.button {
  font-size: $font-size-default;
  text-decoration: none;
  color: inherit;
  border: solid thick;
  padding: 1rem;
  margin-right: $margin;
}

button {
  font-size: $font-size-default;
  background: inherit;
  color: inherit;
  border: solid thick;
  cursor: pointer;
  padding: $padding;
}

button.frameless {
  background: inherit;
  border: none;
}

form {
  width: 500px;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  * {
    width: 100%
  }
  input {
    height: 3rem;
  }
  input, textarea {
    border: 0;
    padding: 0;
  }
}

label {
  font-size: $font-size-default;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 5rem;
}

.align-left {
  display: flex;
  flex-direction: row;
}

.align-right {
  display: flex;
  flex-direction: row-reverse;
}
